a{
  text-decoration: none;
  color: rgb(222, 240, 255);
  background-color: rgb(120, 83, 2);
}
a:hover{
color :rgb(2, 75, 4)
}

.content1 {

  background: rgb(120, 83, 2);
 
}
.logo{
  width : 20 px;
}
.content2 {
  height: 1600 px;
  width: 1600 px;
  background: rgb(80, 165, 245);

}
.content3{
  height: 1600 px;
  width: 1600 px;
}
.content3 img{
  width: 100%;

}

.content4 {
  max-width: 1600px;
  text-align: center;
  background: rgba(107, 200, 31, 0);
   }

  .icon{
    width: 5%;
  }
.mountains{
  width: 100%
}
   .content5 {

    background: rgba(247, 167, 55, 0.71);
    }

    .content5 img{
      width: 3%;
    
    }

  .content6{
    background: rgba(247, 167, 55, 0.681);
    text-align: center;
    
  }

  .content7{
    width: 1600px;
    height: 500px;
    background: rgba(124, 75, 6, 0.47);
    text-align: center;
    
  }