


.rivers {
  max-width: 1600px;
  text-align: center;
  background-color: rgba(80, 163, 13, 0);
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
   }

.river{
  border: 20px solid #d9c2a3;
  transition: transform .5s;
  box-shadow: 5px 5px 10px #6f7364;
  margin-top: 100px;
  float: left;
  margin: 5px;
  width: 90%;
  height: 70%;
}

/* body {
  margin: 20px;
  text-align: center;
} */

/* h1 {
  color: green;
}


p {
  text-align: justify;
  font-size: 25px;
} */

.section1{
  grid-column: 1/2;
  grid-row: 1/2;
}

.text1{
  grid-column: 2/4;
  grid-row: 1/2;
  margin-top: 100px;
}

.text2{
  grid-column: 1/3;
  grid-row: 2/3;
  margin-top: 100px;
}

.section2{
  grid-column: 3/4;
  grid-row: 2/3;
}

.section3{
  grid-column: 1/2;
  grid-row: 3/4;
  
}
.text3{
  grid-column: 2/4;
  grid-row: 3/4;
  margin-top: 100px;
}

.riverpage{
  text-align: center;

}



.a1{
  text-decoration: none;
  color: rgb(222, 240, 255);
  background-color: rgb(120, 83, 2);
  padding: 5px 5px;
}
.social{
  text-decoration: none;
  /* color: rgb(222, 240, 255); */
  padding: 5px 5px;
}
a:hover{
color :rgb(60, 159, 224)
}

header{
  background-color: rgb(120, 83, 2);
  margin: 0 auto;
  display: grid;
  grid-template-columns: 150px auto;
 }

.p1{
  font-family: Tahoma, Verdana, sans-serif;
  font-size: 20px;
  line-height: 1.5em;
  padding: 2px;
  margin-left: 5px;
  display: flex;
  justify-content: space-around;
  /* justify-self: center; */
  align-self: center;
}
.logo{
  width: 80px;
  padding-top: 5px;
  justify-self: center;
  align-self: center; 
 }

.content2 {
  height: 1600px;
  width: 1600px;
  background: rgb(80, 165, 245);
  margin-top: 50px;
}

#hero-box{
  /* height: 1600 px; */
  width: 100%;
  grid-column: 1/4;
  grid-row: 1/3;
  
}
#hero-box img{
  width: 100%;
  grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;

}
#hero {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  /* margin-top: -100px;  */
}
#hero-msg{
  text-align: center;
  grid-column: 2/3;
  grid-row: 1/2;
  margin-top: 10px;
}
#hero-msg h4{
  color: white;
}
#hero-msg h1{
  color: rgb(239, 127, 7);
}


.content4 {
  max-width: 1600px;
  text-align: center;
  background-color: rgba(80, 163, 13, 0);
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  /* grid-template-rows:1fr 3fr 1fr 1fr 0.5fr 3fr 0.5fr 1fr 1fr; */
   }

.card-img{
  border: 10px solid #d9c2a3;
  transition: transform .5s;
  box-shadow: 5px 5px 10px #6f7364;
  margin-top: 100px;
}
.card-img:hover {
  opacity: .6;
  transform: scale(1.1);
}
.iconrivers{
  width:80px;
  height: 60px;
  margin-top: -10px;
}
  .icon{
    width:80px;
    padding-top: 10px;
  }
.mountains{
  width: 70%;
  text-align:left;
  grid-row: 5/8;
  grid-column: 2/7;
}

.msg{
    background-color: rgba(247, 167, 55, 0.681);
    text-align: center;
    margin-top: 100px;
    height: 150px;
    padding: 35px;
    grid-column: 6/10;
    grid-row: 6/7;
    box-shadow: 5px 5px 10px #6f7364;
  
  }


.card-img, .mountains {
  width: 100%;
}
.rivers-card{
  grid-column: 2/4;
  grid-row: 2/3;
  /* padding-bottom: 150px; */
}
.camping-card{
  grid-column:5/7 ;
  grid-row:2/3 ;
}
.rapids-card{
  grid-column:8/10 ;
  grid-row:2/3 ;
}
.background{
  grid-column:1/11 ;
  grid-row:4/9 ;
  height: 500px;
  background-color: rgba(124, 75, 6, 0.766);
  margin-top: 100px;
}
.mountains{
  grid-column:2/7 ;
  grid-row:5/8 ;
  width: 100%;
  box-shadow: 5px 5px 10px #6f7364;
  margin-top: 100px;
}








footer {
  background: rgba(247, 167, 55, 0.71);
  margin-top: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100px;

   }

   /* .content5 img{
     width: 3%;
     margin-top: 50px;
   } */
  

  
  .home-title{
    font-family: "Times New Roman", Times, serif;
    font-size: 40px;
    line-height: 1.5em;
    margin: 0;
    padding: 0;
  }
  .home-title2{
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 20px;
    line-height: 1.5em;
    margin: 0;
    padding: 0;
  }
  h2{
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 20px;
    line-height: 1.5em;
    margin: 0;
    padding: 0;
  }
  p{
    font-family: Tahoma, Verdana, sans-serif;
    font-size: 15px;
    line-height: 1.5em;
    margin: 5px;
    padding: 5px;
  }
  footer p a:hover{
    text-decoration: underline;
  }
  .a2{
    text-decoration: none;
    color: rgb(0, 0, 0);
    /* background-color: rgba(247, 167, 55, 0.681); */
    padding: 5px 5px;
  }
  /* .footericon{
    text-decoration: none;
    color: rgb(222, 240, 255);
    background-color: rgba(247, 167, 55, 0.71);
    padding: 5px 5px;
  } */


  @media screen and (max-width: 900px) {
    #hero, .content4 {
        display: block;
        height: auto;
    }
    header{
      text-align: center;
    }
    .logo {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 80px;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    .home-title {
        font-size: 25px;
        color: #6f7364;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    .background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
        height: 200px;
    }

    #feedback {
      background-color: antiquewhite;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      padding: .5em;
      /* make this element invisible until we are ready for it */
      display: none;      
    }
    
    .moveDown {
        margin-top: 3em;
    }

  }
  